In [2]:
import pandas as pd
menu = ['Alpha', 'Beta', 'Chunks', 'Date']
  
my_df = pd.DataFrame(columns=[menu]) # an empty df with named colums
  
some_tuple = ('why python?!', 'why?', 33.3, '2018-02-27')


listOfTouple = list(some_tuple)

df.loc[len(df)] = listOfTouple

In [3]:
listOfTouple = list(some_tuple)

In [4]:
listOfTouple

['why python?!', 'why?', 33.3, '2018-02-27']

In [5]:
df = my_df.copy()

In [13]:
df.loc[len(df)] = listOfTouple

In [14]:
df

          Alpha  Beta  Chunks        Date
0  why python?!  why?    33.3  2018-02-27

In [11]:
df.append([listOfTouple], index)

  Alpha Beta Chunks Date             0     1     2           3
0   NaN  NaN    NaN  NaN  why python?!  why?  33.3  2018-02-27

In [ ]:
list = [['f','g']]
>>> df = df.append(pd.DataFrame(list, columns=['col1','col2']),ignore_index=True)
>>> df
  col1 col2
0    a    b
1    d    e
2    f    g